
@page "/fetchData"
@inject HttpClient Http

<PageTitle>JSON-data</PageTitle>

<h1 class="data-title">Läsa in JSON-data</h1>

<!-- JSON - undersida som använder HttpClient för att läsa in data i JSON-format och skriver ut det till skärmen på lämpligt sätt.
Du väljer själv om du vill läsa in en JSON-fil som finns i själva projektet, eller läsa in något externt -  exempelvis en REST-webbtjänst. -->

@if (pokedex == null)
{
    <p>Laddar pokemon...</p>
}
else
{
    @foreach (var poke in pokedex.pokemon)
    {

        <div class="pokemon-container">
            <div>
                <h2 class="pokemon-name">@poke.name</h2>
                <p class="pokemon-height">@poke.height</p>
                <p class="pokemon-weight">@poke.weight</p>
            </div>
            <div>
                <img src="@poke.img" alt="image of a pokémon" class="pokemon-img" />
            </div>
        </div>

    }
}

@code {

    // Variabel av Pokedex-klassen
    Pokedex pokedex;

    public class Pokemon
    {
        public string? name { get; set; }
        public string? height { get; set; }
        public string? weight { get; set; }
        public string? img { get; set; }
    }

    // Pokedex class
    public class Pokedex
    {
        public List<Pokemon> pokemon { get; set; }
    }

    // Get the JSON data using async await
    protected override async Task OnInitializedAsync()
    {
        pokedex = await Http.GetFromJsonAsync<Pokedex>("https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json");
    }
}
