
@page "/fetchData"
@inject HttpClient Http

<PageTitle>JSON-data</PageTitle>

<h1 class="data-title">Läsa in JSON-data</h1>

@if (pokedex == null)
{
    <p>Laddar pokemon...</p>
}
else
{
    <div class="pokemon-container">
        @foreach (var poke in pokedex.pokemon)
        {
            <div class="pokemon-card">
                <h2 class="pokemon-name">@poke.name</h2>
                <p class="pokemon-height"><span class="bold">Längd:</span> @poke.height</p>
                <p class="pokemon-weight"><span class="bold">Vikt:</span> @poke.weight</p>
                <img src="@poke.img" alt="image of a pokémon" class="pokemon-img" />
            </div>
        }
    </div>
}

@code {

    Pokedex pokedex;

    // Pokemon model 
    public class Pokemon
    {
        public string? name { get; set; }
        public string? height { get; set; }
        public string? weight { get; set; }
        public string? img { get; set; }
    }

    // Pokedex model
    public class Pokedex
    {
        public List<Pokemon> pokemon { get; set; }
    }

    // Get the JSON data using async await
    protected override async Task OnInitializedAsync()
    {
        pokedex = await Http.GetFromJsonAsync<Pokedex>("https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json");
    }
}
