@inherits LayoutComponentBase

<div class="page">
    <div>
        <NavMenu />
    </div>

    <main>
        <section class="main-section">
            @Body
        </section>
    </main>
    <div>
        <Footer />
    </div>
</div>

