<header>
    <nav class="navbar">
        <div class="logo-container">
            <NavLink class="logo" href="/" Match="NavLinkMatch.All">Blazor<sup>WebAssembly</sup></NavLink>
        </div>
        <ul class="main-nav">
            <li><NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Hem</NavLink></li>
            <li><NavLink class="nav-link" href="/convert" Match="NavLinkMatch.All">Konvertering</NavLink></li>
            <li><NavLink class="nav-link" href="/fetchData" Match="NavLinkMatch.All">Data</NavLink></li>
        </ul>
    </nav>
</header>